   <header class="header">
     <div class="minheeader">
       <div class="container">
         <nav class="social"><a class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook">
           </a><a class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter"></a><a
             class="fab fa-google-plus-g icon-gplus" href="#" target="_blank" title="google-plus"></a><a
             class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram"></a><a
             class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube"></a></nav>
         <div class="linkstop">
           <a routerLink="/login"> <i class="fas fa-lock"></i> تسجيل دخول </a>
           <a href="#"> English <i class="fas fa-flag"></i> </a>
         </div>
       </div>
     </div>
     <div class="container">
       <div class="logo"><a routerLink="/" title="توب سيرفس"> <img src="/assets/images/logo.png" alt="توب سيرفس"
             title="توب سيرفس"></a></div>
       <div class="contactbot"><img src="/assets/images/contact.png" alt="توب سيرفس" title="توب سيرفس">
         <p>يمكنك الإتصال بنا على مدار اليوم</p><a href="tel:0201207966136">01207966136</a>
       </div>
       <div class="navmenu">
         <div class="container">
           <div id="cssmenu">
             <ul>
               <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">الرئيسية</a>
               </li>
               <li><a routerLink="/about" routerLinkActive="active">من نحن</a></li>
               <li><a routerLink="/products" routerLinkActive="active">المنتجات</a></li>
               <li><a routerLink="/terms" routerLinkActive="active">الشروط والاستخدام</a></li>
               <li><a routerLink="/contact" routerLinkActive="active">إتصل بنا </a></li>
             </ul>
           </div><a class="bottom" routerLink="/contact">طلب موعد</a>
         </div>
       </div>
     </div>
   </header>
   <!--End Header-->
