  <footer class="footer">
    <div class="rowcontacts">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 serv-it">
            <h3 class="title-cont"> مكالمة واحدة يمكن أن تحل جميع مشاكل منزلك لا تتردد فى الاتصال بنا</h3>
          </div>
          <div class="col-sm-7 serv-it">
            <nav class="phonenambuer"><a href="tel:0201027497576">01027497576</a><a
                href="tel:0201150846869">01150846869</a><a href="tel:0201207966136">01207966136</a></nav>
          </div>
        </div>
      </div>
    </div>
    <!--End rowcontacts-->
    <div class="container">
      <div class="row">
        <div class="col-md-4 boxfot">
          <h6 class="title">للإتصال بنا</h6>
          <div class="textcontact">
            <p class="text"><i class="fas fa-map-marker-alt"></i> 15 القومية العربية جمهورية مصر العربية</p><a
              href="tel:0201207966136"><i class="fas fa-phone"></i> 01207966136</a><a href="#"><i
                class="fas fa-envelope"></i> info @yahoo.com </a>
          </div>
        </div>
        <div class="col-md-4 boxfot">
          <h6 class="title"> القائمة الرئيسية</h6>
          <nav class="navlast">
            <a routerLink="/">الرئيسية</a>
            <a routerLink="/about">من نحن</a>
            <a routerLink="/products">المنتجات </a>
            <a routerLink="/terms">الشروط والاستخدام</a>
            <a routerLink="/contact">إتصل بنا </a>
          </nav>
        </div>
        <div class="col-md-4 boxfot">
          <h6 class="title"> تابعنا على</h6>
          <p class="text">يمكنك متابعتنا على جميع مواقع التواصل الاجتماعى لكى تشاهد كل ما هو جديد لدينا</p>
          <nav class="social"><a class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook">
            </a><a class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter"></a><a
              class="fab fa-google icon-gplus" href="#" target="_blank" title="google"></a><a
              class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram"></a><a
              class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube"></a></nav>
        </div>
      </div>
      <div class="copyright">
        <p class="textcopyright">حقوق الطبع والنشر © 2019 بواسطة <span>توب سيرفس</span> </p>
      </div>
    </div><a class="scrollToTop bottom" href="#"><i class="fas fa-arrow-up"></i></a>
  </footer>
  <!--End Footer-->
