<div class="csslider1 autoplay">
  <input name="cs_anchor1" id="cs_slide1_0" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_slide1_1" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_slide1_2" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_slide1_3" type="radio" class="cs_anchor slide">
  <input name="cs_anchor1" id="cs_play1" type="radio" class="cs_anchor" checked="">
  <input name="cs_anchor1" id="cs_pause1" type="radio" class="cs_anchor">
  <ul>
    <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
      <img src="/assets/images/slides/img1.jpg" style="width: 100%;">
    </div>
    <li class="num0 img">
      <img src="/assets/images/slides/img2.jpg" alt="Canal" title="Canal">
    </li>
    <li class="num1 img">
      <img src="/assets/images/slides/img3.jpg" alt="Cannaregio district" title="Cannaregio district">
    </li>
    <li class="num2 img">
      <img src="/assets/images/slides/img1.jpg" alt="Dorsoduro" title="Dorsoduro">
    </li>
    <li class="num3 img">
      <img src="/assets/images/slides/img2.jpg" alt="Bright houses" title="Bright houses">
    </li>

  </ul>
  <div class="cs_description">
    <label class="num0">
      <span class="cs_title"><span class="cs_wrapper">Canal</span></span>
      <br><span class="cs_descr"><span class="cs_wrapper">Venice, Italy</span></span>
    </label>
    <label class="num1">
      <span class="cs_title"><span class="cs_wrapper">Cannaregio district</span></span>
      <br><span class="cs_descr"><span class="cs_wrapper">The northernmost of the six historic sestieri (districts) of
          Venice</span></span>
    </label>
    <label class="num2">
      <span class="cs_title"><span class="cs_wrapper">Dorsoduro</span></span>
      <br><span class="cs_descr"><span class="cs_wrapper">Dorsoduro is one of the six sestieri of Venice, northern
          Italy.</span></span>
    </label>
    <label class="num3">
      <span class="cs_title"><span class="cs_wrapper">Bright houses</span></span>
      <br><span class="cs_descr"><span class="cs_wrapper">Venice, Italy</span></span>
    </label>
  </div>

  <div class="cs_arrowprev">
    <label class="num0" for="cs_slide1_0"></label>
    <label class="num1" for="cs_slide1_1"></label>
    <label class="num2" for="cs_slide1_2"></label>
    <label class="num3" for="cs_slide1_3"></label>
  </div>
  <div class="cs_arrownext">
    <label class="num0" for="cs_slide1_0"></label>
    <label class="num1" for="cs_slide1_1"></label>
    <label class="num2" for="cs_slide1_2"></label>
    <label class="num3" for="cs_slide1_3"></label>
  </div>

  <div class="cs_bullets">
    <label class="num0" for="cs_slide1_0">
      <span class="cs_point"></span>
    </label>
    <label class="num1" for="cs_slide1_1">
      <span class="cs_point"></span>

    </label>
    <label class="num2" for="cs_slide1_2">
      <span class="cs_point"></span>
    </label>
    <label class="num3" for="cs_slide1_3">
      <span class="cs_point"></span>
    </label>
  </div>
</div>
