<app-page-head [title]="'المنتجات'"></app-page-head>
<section class="brand-details">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 details-it"><img src="{{product?.url}}" alt="توب سيرفس" title="توب سيرفس"></div>
      <div class="col-sm-8 details-it">
        <h3 class="title-ab">{{product?.title}}</h3>
        <p class="text"> {{product?.thumbnailUrl}}</p><a class="bottom" routerLink="/contact"><i
            class="fas fa-phone"></i> اتصل
          بنا الان</a>
      </div>
    </div>
  </div>
</section>

<section class="brands">
  <div class="container">
    <h2 class="title"> منتجات متعلقة</h2>
    <div class="row">
      <div *ngFor="let item of products | paginate: { itemsPerPage:3, currentPage: p }" class="col-sm-4
        brand-itme">
        <a class="logobeand" routerLink="/productdetails/{{item.id}}">
          <img src="{{item.url}}" alt="">
          <h2>{{item.title}}</h2>
        </a>
      </div>
    </div>
  </div>
</section>
