<app-page-head [title]="'إتصل بنا'"></app-page-head>
<section class="contactus">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 contac-ti">
        <h3 class="title">راسلنا عبر البريد الالكترونى</h3>
        <p class="text">يمكنك إرسال رساله عبر البريد الإلكتروني وسوف يتم الرد عليك خلال 24 ساعة من وقت إرسال الرسالة
        </p>
        <form action="#" method="">
          <div class="row">
            <div class="col-sm-6 inpudata">
              <input class="form-control" type="text" name="" placeholder=" الأسم بالكامل">
            </div>
            <div class="col-sm-6 inpudata">
              <input class="form-control" type="email" name="" placeholder="البريد الإلكترونى">
            </div>
            <div class="col-sm-12 inpudata">
              <select class="form-control">
                <option> أختر الموضوع</option>
                <option> شكوى</option>
                <option> استفسار</option>
                <option> طلب صيانة</option>
              </select>
            </div>
            <div class="col-sm-12 inpudata">
              <textarea class="form-control" name="" placeholder="رسالتك"></textarea>
            </div>
            <div class="col-sm-12 inpudata">
              <button class="bottom" type="submit">ارسل الان</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-sm-4 contac-ti">
        <div class="contactext">
          <h3 class="title">التليفون</h3>
          <p class="textphon"> <a href="tel:0201027497576">01027497576</a><a href="tel:0201150846869">01150846869</a><a
              href="tel:0201207966136">01207966136</a></p>
        </div>
        <div class="contactext">
          <h3 class="title">العنوان</h3>
          <p class="textphon"> القومية العربية جمهورية مصر العربية 15</p>
        </div>
        <div class="contactext">
          <h3 class="title">البريد الإلكترونى</h3>
          <p class="textphon"> <a href="#"> info@yahoo.com </a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.801191573542!2d31.319043685361184!3d30.099879622907654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14581586871aaaa7%3A0x7b395c4438bbd19!2sghonem+travel!5e0!3m2!1sar!2seg!4v1566157603351!5m2!1sar!2seg"
    allowfullscreen=""></iframe>
</section>
